.error-page {
  /* outline: 1px solid red; */
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background-image: url(https://res.cloudinary.com/percy-1789/image/upload/v1667771644/Oops_404_Error_with_a_broken_robot-amico_1_pctgvl.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
    justify-content: center;
    align-items: end;
}

.error-page p {
  font-size: 2rem;
  color: rgb(158, 43, 43);
}
.error-page a {
  background-color: #243041;
  background-color: #647382;
  transition: all ease-in 0.3s;
  border-radius: 8px;
  
  padding: 1rem;
  color: #eee;
  display: inline-block;
  text-decoration: none;
}

.error-page a:hover {
  background-color: #272f39;

}
