.error-page {
  /* outline: 1px solid red; */
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.error-page p {
  font-size: 2rem;
  color: rgb(158, 43, 43);
}
.error-page a {
  background-color: #1f262f;
  transition: all ease-in 0.3s;
  border-radius: 8px;
  
  padding: 1rem;
  color: #eee;
  display: inline-block;
  text-decoration: none;
}

.error-page a:hover {
  background-color: #181e25d6;

}
