.repo-card {
  margin: auto;
  margin-top: 3%;
  width: 90%;
  max-width: 800px;
  color: #ccc;
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 2%;


}
h2 {
  text-decoration: underline;
}
p {
  margin-bottom: 1rem;
}

button {
  width: 100%;
  background-color: #1f262f;
  border: none;
  border-radius: 8px;
  color: whitesmoke;
  padding: 1rem;
  transition: all ease-in 0.3s;
}

button:hover {
  background-color: #181e25d6;

}
.error-repo {
  /* outline: 1px solid red; */
  text-align: center;
  font-size: 2rem;
  padding: 10rem 0;
}
.error-repo button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
}
